BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

ColumnLimit: 80
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

BreakBeforeBraces: Allman
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1

PointerAlignment: Left
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
BreakBeforeBinaryOperators: NonAssignment

SortIncludes: false
InsertTrailingCommas: None
InsertNewlineAtEOF: true

SpacesInLineCommentPrefix: false
SpaceAfterComma: true
SpaceAfterSemicolon: true
